DATABASE_URL=mongodb://127.0.0.1/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
FRONTEND_URL=http://localhost:5173
AUTH_TOKEN_EXPIRATION=7200
AUTH_REMEMBER_EXPIRATION=604800
# Desactivar rate limiting (solo depuración local)
# RATE_LIMIT_DISABLED=true
